.idea
*.iml
*.ipr
*.iws
target/
.classpath
.settings
.project
nbactions.xml
nbactions-process-classes.xml
nb-configuration.xml
catalog.xml
*.jpage
.externalToolBuilders
.groovy
.DS_Store
migrator/src/main/webapp/js/*.js
**/rebel.xml
.sass-cache/*
**/.sass-cache
**/.sass-cache/*
**.sass-cache**
.gradle/
build/
out/
node_modules/
logs/
.bloop/
.metals/
